<!-- Content
		============================================= -->
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      
        <div class="promo text_cont shadow-sm text-center p-5 p-md-6 border {{variant}} dark rounded-5">
          {{#if h2}}<h2 class="mb-1 h2">{{h2}}</span></h2>{{/if}}
          {{#if h3}}<h3 class="text-info mb-4 fw-medium">{{h3}}</h3>{{/if}}
          {{#if button1.active}}<a href="{{button1.link}}" class="button w3-btn button-large button-rounded bg-info btn1">{{button1.text}}</a>{{/if}}
          {{#if button2.active}}<a href="{{button2.link}}" class="button w3-btn button-large button-rounded button-black btn2">{{button2.text}}</a>{{/if}}
        </div>
      
    </div>
  </div>
</section>
<!-- #content end -->