<!--team section start-->
  <section class="team-section" id="team-section"  data-comp="Team">
    <svg class="separator__svg" id="team-header-svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none"
      fill="#fff" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <path d="M 100 100 V 10 L 0 100" />
      <path d="M 30 73 L 100 18 V 10 Z" fill="#fff" stroke-width="0" />
    </svg>
    <div class="container position-relative">
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="team-details pr-lg-5">
            <h6 class="sub-title main-color">{{h6}}</h6>
            <h2 class="title">{{h2}}</h2>
          </div>
        </div>
        <div class="col-12 col-lg-12 team-member-area">
          <div class="testimonial-team owl-carousel owl-theme">
            {{#each members}}
              <div class="item text-center wow fadeInUp {{cls}}" data-alt="{{alt}}">
                <div class="image-holder">
                  <img src="{{src}}" alt="{{alt}}">
                </div>
                <h3 class="team-name">{{name}}</h3>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <a class='circle' id="team-circle-left"><i class="lni lni-chevron-left"></i></a>
      <a class='circle' id="team-circle-right"><i class="lni lni-chevron-right"></i></a>
    </div>
    <svg class="separator__svg" id="team-foot-svg" width="100%" height="100" viewBox="0 0 100 100"
      preserveAspectRatio="none" fill="#fff" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <path d="M 100 100 V 10 L 0 100" />
      <path d="M 30 73 L 100 18 V 10 Z" fill="#fff" stroke-width="0" />
    </svg>
  </section>
<!--team section start-->