<header id="home"  data-comp="Head">
  <div class="container">
    <div class="main-nav">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand bg-dark" href="{{urls.home}}"><img
                src="{{images.logo1}}"></a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                {{#each menu}}
                  <li class="nav-item {{act}} dropdown">
                    {{#if dropdown}}
                      <a class="nav-link wow {{cls}} scroll dropbtn" href="javascript:void(0);">{{label}}</a>
                      <div class="dropdown-content">
                        {{#each list}}
                          {{#if target}}
                            <a href="{{href}}" target="{{target}}">{{label}}</a>
                          {{else}}
                            <a class="scroll" href="{{href}}">{{label}}</a>
                          {{/if}}
                        {{/each}}
                      </div>
                    {{else}}
                      <a class="nav-link wow {{cls}} scroll dropbtn" href="{{href}}">{{label}}</a>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            </div>
            <div class="contact-social-icons d-flex justify-content-end align-items-center">
              <ul class="upper-social-icons">
                {{#each social_icons}}
                <li><a href="{{href}}" class="{{link}}" target="_blank"><i class="{{font_icon}}"></i></a></li>
                {{/each}}
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    
  </div>
  <!--Side Menu Button-->
  {{!-- <a href="javascript:void(0)" class="sidemenu_btn" id="sidemenu_toggle">
    <i class="lni lni-menu"></i>
  </a> --}}
  <!--Side Nav-->
  <div class="side-menu hidden side-menu-opacity">
    <div class="inner-wrapper">
      <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
      <a class="navbar-brand"><img src="{{images.logo2}}" alt="logo"></a>
      <nav class="side-nav w-100">
        <ul class="navbar-nav">
          {{#each menu}}
          <li class="nav-item">
            <a class="nav-link scroll" href="{{href}}" target="_blank">{{label}}</a>
          </li>
          {{/each}}
        </ul>
      </nav>

      <div class="side-footer text-white w-100 d-flex justify-content-center">
        <ul class="social-icons-simple">
          {{#each social_icons}}
            <li><a href="{{href}}" class="{{link}}" target="_blank"><i class="{{font_icon}}"></i></a></li>
          {{/each}}
        </ul>
      </div>
    </div>
    <svg class="separator__svg" id="site-mmenu-svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none"
      fill="#fff" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <path d="M 100 100 V 10 L 0 100" />
      <path d="M 30 73 L 100 18 V 10 Z" fill="#fff" stroke-width="0" />
    </svg>
  </div>
  <a id="close_side_menu" href="javascript:void(0);"></a>
</header>
{{!-- drop down menu https://www.w3schools.com/css/css_dropdowns.asp --}}