<!--Contact section start-->
<section class="contact-sec" id="contact-sec"  data-comp="Contact">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7 contact-left"></div>
      <div class="col-12 col-lg-5 text-center text-lg-left position-relative">
        <div class="contact-details wow fadeInRight">
          <h4 class="heading">{{title}}</h4>
          <p class="text">
            {{sub}}
          </p>
          <ul>
            <li><i aria-hidden="true" class="fas fa-map-marker-alt"></i> {{address}} </li>
            <li><i aria-hidden="true" class="fas fa-phone-volume"></i>
              <span>{{phone}}</span>
            </li>
            <li><i aria-hidden="true" class="fas fa-paper-plane"></i>{{email}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Contact section end-->