<!--About Star-->
  <section class="about-sec" id="about-sec" data-comp="About">
    <svg id="about-header-svg" class="separator__svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none"
      fill="#e8d716" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <path d="M 100 100 V 10 L 0 100" />
      <path d="M 30 73 L 100 18 V 10 Z" fill="#e8d716" stroke-width="0" />
    </svg>
    <div class="container">
      <div class="row">
        <!-- Heading Area-->
        <div class="col-lg-5 wow fadeInUp">
          <div class="service-details">
            <h1>{{title}}</h1>
            <h1><span>{{title1}}</span> {{title2}}</h1>
            <p>{{description}}</p>
            <a href="javascript:void(0);" class="btn btn-large btn-rounded btn-black-white-background mr-2 mt-2">{{button}}</a>
          </div>
        </div>

        <!-- Features Box-->
        <div class="col-lg-7">
          <div class="services-area-width-manage">
            <div class="row no-gutters services-area">
              <div class="col-12 col-md-6 services text-center">
                <div class="service-card wow fadeInRight">
                  <div class="icon-holder">
                    <i class="lni lni-briefcase"></i>
                  </div>
                  <h4 class="card-heading">Make Business</h4>
                </div>
              </div>
              <div class="col-12 col-md-6 services text-center">
                <div class="service-card wow fadeInRight">
                  <div class="icon-holder">
                    <i class="lni lni-bulb"></i>
                  </div>
                  <h4 class="card-heading">Agency Ideas</h4>
                </div>
              </div>
              <div class="col-12 col-md-6 services text-center">
                <div class="service-card wow fadeInRight" data-wow-delay=".5s">
                  <div class="icon-holder">
                    <i class="lni lni-heart"></i>
                  </div>
                  <h4 class="card-heading">Our Hardwork</h4>
                </div>
              </div>
              <div class="col-12 col-md-6 services text-center">
                <div class="service-card wow fadeInRight" data-wow-delay=".5s">
                  <div class="icon-holder">
                    <i class="lni lni-wallet"></i>
                  </div>
                  <h4 class="card-heading">Make Money</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <svg id="banner_svg" class="separator__svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none"
      fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <path d="M 100 100 V 10 L 0 100" />
      <path d="M 30 73 L 100 18 V 10 Z" fill="#ffffff" stroke-width="0" />
      <img src="{{images.pot}}" class="wow slideInLeft" data-wow-delay="1s" alt="plant">
    </svg>
  </section>
<!--About End-->