<!--portfolio section start-->
  <section class="portfolio-sec company-portfolio-section padding-top" id="company-portfolio-section">
    <div class="container">
      <div class="section-heading">
        <div class="row">
          <div class="col-md-6 wow fadeInUp text-center text-lg-left portfolio-title" data-wow-delay="300ms">
            <h1 class="heading">OUR</h1>
            <h1 class="heading">AMAZING PORTFOLIO</h1>
          </div>
          <div class="col-md-12 pt-5">
            <div id="js-filters-mosaic" class="cbp-l-filters-button wow fadeInUp text-center text-md-left portfolio-btns"
              data-wow-delay="350ms">
              {{#each topics}}
                {{#if active}}
                  {{#if home}}
                      <div data-filter="{{filter}}" class="cbp-filter-item-active cbp-filter-item"> {{label}}</div>
                    {{else}}
                      <div data-filter="{{filter}}" class="cbp-filter-item"> {{label}}</div>
                  {{/if}}
                {{/if}}
              {{/each}}
            </div>

            <div id="js-grid-mosaic" class="cbp cbp-l-grid-mosaic">

              {{#each images}}
                {{#if active}}
                  <div class="cbp-item {{tags}}">
                    <a href="{{link}}" class="cbp-caption cbp-lightbox"
                      data-title="{{title}}">
                      <div class="cbp-caption-defaultWrap">
                        <img src="{{image}}" alt="img">
                      </div>
                      <div class="cbp-caption-activeWrap portfolio-hover-effect d-flex align-items-end">
                        <div class="portfolio-inner-content">
                          <span></span>
                          <span></span>
                        </div>
                        <div class="hover-text">
                          <h4 class="p-hover-title">{{hov_title}}</h4>
                          <p class="p-hover-des">{{hov_desc}}</p>
                        </div>
                      </div>
                    </a>
                  </div>
                {{/if}}
              {{/each}}
            </div>

            
            <div id="js-loadMore-lightbox-gallery" class="cbp-l-loadMore-button text-data wow fadeInUp"
              data-wow-delay="650ms">
              <div class="row portfolio-foot-detail text-data-inner">
                <div class="col-7 col-md-4 offset-md-6 text-left pl-4">
                  {{!-- <span class="p-text">We've Completed More Then</span>
                  <h4 class="p-num">530</h4>
                  <span class="p-text">Projects for Our amazing Clients</span> --}}
                </div>
                {{!-- <div class="col-5 col-md-2 d-flex justify-content-end align-items-center" style="display: none;"><a
                    href="digital-agency/standalone.html" class="btn blue-and-black-btn rounded-pill">VIEW ALL</a></div> --}}
              </div>
            </div>
          

        </div>
      </div>
    </div>
  </section>
<!--portfolio section end-->