<!--Lastest Blog section start-->
<section class="lastest-blog" id="lastest-blog"  data-comp="Events">
  <svg class="separator__svg" id="blog-header-svg" width="100%" height="100" viewBox="0 0 100 100"
    preserveAspectRatio="none" fill="#fff" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path d="M 100 100 V 10 L 0 100" />
    <path d="M 30 73 L 100 18 V 10 Z" fill="#fff" stroke-width="0" />
  </svg>
  <div class="container position-relative">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6">
        <div class="blog-content slider-detail wow fadeInDown">
          {{#each data}}
            {{#if active}}
              <div class="slider-slide">
                <div class="custom_head {{alias}}"></div>
                <h1>{{text1}}</h1>
                <h1><span>{{text2}}</span> {{text3}}</h1>
                <h5 class="sub1">{{sub}}</h5>
                {{#if sub2}}
                  <h5 class="sub2">{{sub2}}</h5>
                {{/if}}
                {{#if sub3}}
                  <h5 class="sub3">{{sub3}}</h5>
                {{/if}}
                <p>{{p}}</p>
                <div class="custom_cont {{alias}}"></div>
                {{#if button.active}}
                  <a href="{{button.href}}" class="btn btn-large btn-rounded white-tran-yellow-btn" target="{{../target}}">{{button.text}}</a>
                {{/if}}
                <div class="custom_foot {{alias}}"></div>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <div class="blog-img wow fadeInUp">
          {{#if mokup.active}}
            <img src="{{mokup.img}}">
          {{/if}}
          <div class="slider-img">
            {{#each data}}
              {{#if active}}
                <div class="img-slide">
                  <img src="{{img}}" class="mockup-img">
                </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <a class='circle' id="blog-circle-left"><i class="lni lni-chevron-left"></i></a>
    <a class='circle' id="blog-circle-right"><i class="lni lni-chevron-right"></i></a>
  </div>

  <svg class="separator__svg" id="blog-foot-svg" width="100%" height="100" viewBox="0 0 100 100"
    preserveAspectRatio="none" fill="#fff" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path d="M 100 100 V 10 L 0 100" />
    <path d="M 30 73 L 100 18 V 10 Z" fill="#fff" stroke-width="0" />
    <img src="{{pot}}" alt="plant" class="pot-2 wow slideInLeft" data-wow-delay=".5s">
  </svg>
</section>
<!--Lastest Blog section start-->