<section id="about" class="about-us {{file_src}}" data-comp="About">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <p class="block-title">{{title}}<strong>{{title1}} </strong> {{title2}}</p>
        <h3>{{subtitle1}}</h3>
        <p class="about-p">{{description}}</p>
        <h3>{{subtitle2}}</h3>
        <p>{{description2}}</p>
      </div>
    </div>
  </div>
</section>